* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    font-size: 40px;
}

.navbar {
    background-color:#03045e ;
    color: white;
    display: flex;
    justify-content: space-between;
    font-size: 40px;
    padding: 70px 100px;
    margin-bottom: 100px;
    position: fixed;
    width: 100%;
}

h1 {
    margin-left: 100px;
}

.cart {
    font-size: 80px;
    position: relative;
    margin-right: 100px;
}

.totalCartQty {
    font-size: 70px;
    background-color: #7ee8fd;
    position: absolute;
    top: -60px;
    right: -10px;
    padding: 3px;
    border-radius: 10px;
}

.productList {
    display: grid;
    grid-template-columns: repeat(3, 800px);
    gap: 100px;
    justify-content: center;
    padding: 400px;
}

.item {
    border: 5px solid black;
    border-radius: 30px;
}

.details {
    display: flex;
    flex-direction: column;
    padding: 40px;
    gap: 40px;
}

.price-qty {
    display: flex;
    justify-content: space-between;
}

.buttoms {
    display: flex;
    gap: 25px;
    cursor: pointer;
}

.bi-plus-square {
    color: rgb(1, 127, 1);
}

.bi-dash-square {
    color: rgb(241, 0, 0);
}

.bi-plus-square:hover {
    color: rgb(6, 248, 6);
}

.bi-dash-square:hover {
    color: rgb(251, 137, 137);
}



















